<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_carrito.css">
</head>

<body>
    <header>
        <%- include('../include/nav')%>
    </header>
   

    <main> 
    <section class="contenedor-seccion1">
        <h1 class="titulo-carrito">CARRITO</h1>
        <div class="contenedor__carritos_01y02">
        <% if (carts.length > 0) { %>
            <% carts.forEach(item => { %>
            <div class="carrito_01">
                <img src="/uploads/products/<%= item.product.image%>" class="img__funes__carrito" alt="finca-bertona">
               <p class="vino">MARCA</p>
               <p class="cosecha">Cosecha <%= item.product.year %></p>
               <div class="cantidad"><%= item.quantity %></div>
               <p class="precio"><%= item.product.price %></p>
            </div>
            <% }) %>
            <% } %>
        </div>
    </section>
    </main>
    <!----------------- Inicio footer ------------------------------------------------>
    <%- include('../include/footer')%>
    </body>
    </html>