<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_alta.css">
</head>

<body>
    <header>
        <%- include('../include/nav')%>
        <figure class="img-ppal-tienda"><img src="/imagenes/img_ppal_tienda3.png" class="img__ppal__tienda" alt="finca-bertona"></figure>
    </header>
    <main id="contenedor__general">
        <h1 id="titulo-alta">ALTA DE PRODUCTOS</h1>
        <section id="contenedor-alta">
        <form class= "formulario-alta-productos" action="/tienda/guardar" method="POST" enctype="multipart/form-data">
            <fieldset class="campo-formulario">
                <label for="brand">Marca</label>
                <select name="brand" id="brand">
                    <option value="" selected disabled>Seleccione una marca</option>
                    <% brands.forEach(brand => { %>
                        <option value="<%= brands.id %>">
                            <%= brand.name %>
                        </option>
                    <% }) %>
                </select>
            </fieldset>
            <fieldset class= "campo-formulario">
                <label for="year">Cosecha/Año:</label>
                <input type="number" name= "year" id="year" class="alta" required placeholder="Escriba el año de cosecha">
            </fieldset>
            <fieldset class= "campo-formulario">
                <label for="varietal">Varietal:</label>
                <input type="text" name= "varietal" id="varietal" class="alta" required placeholder="Escriba el varietal">
            </fieldset>
            <fieldset class= "campo-formulario">
                <label for="graduacion">Graduación alcohólica:</label>
                <input type="number" name= "graduacion" id="graduacion" class="alta" required placeholder="Escriba la graduación alcoholica">
            </fieldset>
            <fieldset class= "campo-formulario">
                <label for="barrica">Tiempo en barrica:</label>
                <input type="text" name= "barrica" id="barrica" class="alta" required placeholder="Escriba el tiempo en barrica">
            </fieldset>
            <fieldset class= "campo-formulario">
                <label for="guarda">Tiempo de guarda:</label>
                <input type="text" name= "guarda" id="guarda" class="alta" required placeholder="Escriba el tiempo de guarda">
            </fieldset>
            <fieldset class="campo-formulario">
                <label for="price">Precio:</label>
                <input type="number" name="price" value="$0,00" id= "price" class="alta" required placeholder="Escriba el precio">
            </fieldset>
            <fieldset class="campo-formulario">
                <label for="description">Descripción:</label>
                <input type="text" name= "description" id="description"  class="alta" required placeholder="Escriba la descripción del producto">
            </fieldset>
            <fieldset class="campo-formulario">
                <label for="uploads">Subir imagen:</label>
                <input type="file" name="image" id="clave" class="alta" placeholder="Suba la imágen del producto">
            </fieldset>
            <button type="submit" class= "boton-formulario-enviar">CREAR PRODUCTO</button> 
        </section>         
</main>
<%- include('../include/footer')%>
</body>
</html>

