<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_alta.css">
</head>

<body>
    <header>
        <%- include('../include/nav')%>
        <figure class="img-ppal-tienda"><img src="/imagenes/img_ppal_tienda3.png" class="img__ppal__tienda" alt="finca-bertona"></figure>
    </header>
    <main id="contenedor__general">
        <h1 id="titulo-alta">Alta de productos</h1>
        <form class= "formulario-alta-productos" action="/tienda/guardar" method="POST" enctype="multipart/form-data">
            <fieldset class="campo-formulario">
                <label for="brand">Marca</label>
                <select name="brand" id="brand">
                    <option value="" selected disabled>Seleccione una marca</option>
                    <% brands.forEach(brand => { %>
                        <option value="<%= brand.id %>">
                            <%= brand.name %>
                        </option>
                    <% }) %>
                </select>
            </fieldset>
        
            <fieldset class="campo-formulario">
                <label for="description">Descripci칩n:</label>
                <input type="text" name= "description" id="description"  class="alta" required placeholder="Escriba la descripci칩n del producto">
            </fieldset>
            <fieldset class= "campo-formulario">
                <label for="year">Cosecha/A침o:</label>
                <input type="text" name= "year" id="year" class="alta" required placeholder="Escriba el a침o de cosecha">
            </fieldset>
            <fieldset class="campo-formulario">
                <label for="price">Precio:</label>
                <input type="text" name="price" value="$0,00" id= "price" class="alta" required placeholder="Escriba el precio">
            </fieldset>
            <fieldset class="campo-formulario">
                <label for="uploads">Subir imagen:</label>
                <input type="file" name="image" id="clave" class="alta" required placeholder="suba su imagen">
            </fieldset>
            <button type="submit" class= "boton-formulario-enviar">CREAR PRODUCTO</button>  
</main>
<%- include('../include/footer')%>
</body>
</html>

