<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_detalle.css">
</head>
<body>
    <header>
        <%- include('../include/nav')%>
    <figure class="img-ppal-detalle"><img src="/imagenes/img_ppal_contacto.png" class="img__ppal__vinos" alt="finca-bertona"></figure>
    </header>
    <section id="contenedor__general">
        <section id="contenedor__secundario">
        <% if (product.image) { %>
        <img src="/uploads/products/<%= product.image%>" class="imagen-producto" id="botella" alt=""> 
        <% } else { %>
            <img class="imagen-producto" id="botella" src="/imagenes/default.jpg" alt=""> 
        <% } %>
        <article>
            <h2 class="subtitulo-general"><%= product.name %></h2>
            <p class="marca-vino"><%= product.brands.name %></p> 
            <p class="cosecha"><%= product.year %></p>
            <p class="precio"><%= product.currency %><%= product.price %></p>
            <p class="descripcion"><%= product.description %></p>
            <ul>
                <li class= "caracteriticas"><span class="caracteristicas-bold">Varietal:</span> <%= product.varietal %></li>
                <li class= "caracteriticas"><span class="caracteristicas-bold">Graduación:</span> <%= product.graduacion %>% Vol.</li>
                <li class= "caracteriticas"><span class="caracteristicas-bold">Tiempo en barrica:</span> <%= product.barrica %></li>
                <li class= "caracteriticas"><span class="caracteristicas-bold">Tiempo de guarda:</span> <%= product.guarda %></li>
            </ul>
        </article>
            <form action="/carrito/add" method="POST" class="campo__formulario">
                <fieldset id="quantity">
                    <label for="quantity">Cantidad</label>
                    <% if (user!=undefined) { %>
                        <input type="hidden" name="product" id="product" value="<%= product.id %>">
                        <input type="hidden" name="user" id="user" value="<%= user.id %>">
                    <% } %>
                    <input type="number" min="1" max="12" name="quantity" id="quantity" value="1" required>
                </fieldset>
                
                    <button class="boton-comprar"><a href="/login"> Ir a login para comprar</a></button>
            

                <% if(user!=undefined && user.admin) {%>
            
                        <button class="boton-comprar"><a href="editar/<%=product.id%>"> editar producto</a></button>
                       
                <% } else if (user!=undefined) {%>
                <fieldset>
                    <button type="submit" class="boton-comprar">comprar</button>
                </fieldset>
                <% } %>
            </form>
        </section>
    </section> 
    <%- include('../include/footer')%>
</body>
</html>
