<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_detalle.css">
</head>
<body>
    <header>
        <%- include('../include/nav')%>
    <figure class="img-ppal-detalle"><img src="../imagenes/img_ppal_contacto.png" class="img__ppal__vinos" alt="finca-bertona"></figure>
    </header>
    <section id="contenedor__general">
        <section id="contenedor__secundario">
        <% if (product.image) { %>
        <img src="/uploads/products/<%= product.image%>" class="imagen-producto" id="botella" alt=""> 
        <% } else { %>
            <img class="imagen-producto" id="botella" src="/imagenes/default.jpg" alt=""> 
        <% } %>
        <article>
            <h2 class="subtitulo-general"><%= product.name %></h2>
            <p class="marca-vino"><%= product.brand.name %></p> 
            <p class="cosecha"><%= product.year %></p>
            <p class="precio"><%= product.currency %><%= product.price %></p>
            <p class="descripcion"><%= product.description %></p>
            <ul>
                <li class= "caracteriticas"><span class="caracteristicas-bold">Varietal:</span> <%= product.varietal %></li>
                <li class= "caracteriticas"><span class="caracteristicas-bold">Graduación:</span> <%= product.graduacion %>% Vol.</li>
                <li class= "caracteriticas"><span class="caracteristicas-bold">Tiempo en barrica:</span> <%= product.barrica %></li>
                <li class= "caracteriticas"><span class="caracteristicas-bold">Tiempo de guarda:</span> <%= product.guarda %></li>
            </ul>
        </article>
            <form action="/cart/add" method="post" class="campo__formulario">
                <fieldset id="quantity">
                    <label for="quantity">Quantity</label>
                    <input type="number" min="1" max="12" value="1" required>
                </fieldset>
                <fieldset>
                    <button type="submit" class="boton-comprar">comprar</button>
                </fieldset>
            </form>
        </section>
    </section> 
    <%- include('../include/footer')%>
</body>
</html>
