<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_edicion.css">
</head>
<body>
    <header>
        <%- include('../include/nav')%>
    <figure class="img-ppal-edicion"><img src="../imagenes/img_ppal_contacto.png" class="img__ppal__vinos" alt="finca-bertona"></figure>
    </header>
    <section id="contenedor__general">
        <fieldset>
            <form action="/tienda/actualizar/<%= product.id %>?_method=PUT" method="post" id="edit-form" enctype="multipart/form-data">
                <img src="/uploads/products/<%= product.image%>" class="imagen-producto" id="botella" alt=""> 
                <label for="image">Imágen</label>
                <input type="file" name="image" id="image" value="/uploads/products/<%= product.image%>">
        </fieldset>
        <fieldset>
            <label for="marca">Marca</label>
            <select name="brand" id="brand">
                <% brands.forEach(brand => { %>
                    <% if (product.brand.id == brand.id) { %>
                        <option value="<%= brand.id %>" selected><%= brand.name %></option>
                    <% } else { %>
                        <option value="<%= brand.id %>"><%= brand.name %></option>
                    <% } %>
                <% }) %>
            </select>        
        </fieldset>
        <fieldset>
            <label for="name">Cosecha</label>
            <input type="text" name="year" id="year" value="<%= product.year %>" >
        </fieldset>
        <fieldset>
            <label for="name">Precio</label>
            <input type="text" name="price" id="price" value="<%= product.price %>" >
        </fieldset>
        <fieldset>
            <label for="name">Descripción</label>
            <input type="text" name="description" id="description" value="<%= product.description %>" >
        </fieldset>
         <fieldset>
            <button type="submit" class="boton-comprar">EDITAR PRODUCTO</button>
        </fieldset>
        </form>
    </section> 
    <%- include('../include/footer')%>
</body>
</html>
