<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_tienda.css">
</head>

<body>
    <header>
        <%- include('../include/nav')%>
        <figure class="img-ppal-tienda"><img src="/imagenes/img_ppal_tienda3.png" class="img__ppal__tienda" alt="finca-bertona"></figure>
    </header>
    <main id="contenedor__general"> 
        <h1 class="titulo-general">¡Llena tu carrito con la cosecha que prefieras!</h1>
    <section class="contenedor__seccion1">
        <% list.forEach(product => { %>
        <article class="contenedor-botella">
            <% if (product.image) { %>
            <figure class="figure__ruta15__tienda"><img src="/uploads/products/<%= product.image%>" class="img__ruta15__tienda" alt="finca-bertona"></figure>
            <% } else { %>
            <figure><img src="/imagenes/default.jpg" alt=""></figure>
            <% } %>
            <section>
                <h2><%= product.brand.name %></h2>
                <p class="cosecha"><%= product.year %> </p>
                <a href="/tienda/<%= product.id %>"><i class="fa fa-shopping-cart" id="icono" alt="añadir al carrito"></i></a>  
            </section>  
        </article>
        <% }) %>
    </section>
    <% if(user!=undefined && user.admin) {%>
    <section>
        <button class="boton-alta"><a href="tienda/alta"> Cargar un nuevo producto </a></button>
    </section>
    <% } %>
</main>
<%- include('../include/footer')%>
</body>
</html>
