<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_perfil.css">
</head>
<body>
    <header>
        <%- include('../include/nav')%>
    </header>
    <section id="contenedor__general">
        <h1> Hola <%= user.nombre %></h1>
        <% if (user.image) { %>
            <img src="/uploads/users/<%= user.image%>" class="imagen-usuario" id="" alt=""> 
            <% } else { %>
                <img class="imagen-producto" id="botella" src="/imagenes/default.jpg" alt=""> 
                <% } %>
        <section id="contenedor__secundario">
            <h2><%= user.email %></h2>
            <h2><%= user.fechaDeNacimiento %></h2>
            <h2><%= user.direccion %></h2>
            <button> <a href="/logout"> Log out</a></button>
        </section>
    </section> 
    <%- include('../include/footer')%>
</body>
</html>
