<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_perfil.css">
</head>
<body>
    <header>
        <%- include('../include/nav')%>
    </header>
    <section id="contenedor__general">
        <h1> Hola <%= user.nombre %></h1>
        <section id="contenedor__secundario">
        <% if (user.image) { %>
        <img src="/uploads/products/<%= user.image%>" class="imagen-usuario" id="" alt=""> 
        <% } else { %>
            <img class="imagen-producto" id="botella" src="/imagenes/default.jpg" alt=""> 
        <% } %>
        </section>
    </section> 
    <%- include('../include/footer')%>
</body>
</html>
