<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_perfil.css">
    </head>
<body>
    <header>
        <%- include('../include/nav')%>
        <figure><img src="/imagenes/img_ppal_login.png" class="img-ppal-login-2" alt="finca-bertona"></figure>
    </header>
    <main>
    <section id="contenedor__general">
        <% if(user.admin) {%>
            <h1 class="nombre-ppal"> Hola <%= user.nombre %><p id="estilos-texto-admin"> - Administrador del sitio - </p></h1>
        <% } else {%>
            <h1 class="nombre-ppal"> Hola <%= user.nombre %> </h1>
        <% }%>
        <% if (user.image) { %>
            <img src="/uploads/users/<%= user.image%>" class="imagen-usuario" id="" alt=""> 
        <% } else { %>
            <img class="imagen-producto" id="botella" src="/imagenes/default.jpg" alt=""> 
        <% } %>
        <section id="contenedor__secundario">
            <h2 id="email"><%= user.email %></h2>
            <h2 id="user-dir"><%= user.direccion %></h2>
            <button id="boton-perfil"><a href="/logout"> Log out</a></button>
        </section>
    </section> 
    <section class="errores">
        <small class="textoErrores"></small>
    </section> 
</main>
    <%- include('../include/footer')%>
</body>
</html>