<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>   
    <link rel="stylesheet" href="/css/estilos_registro.css">
</head>

<body>
    <header>
        <%- include('../include/nav')%>
        <div class="img-ppal-login"> <img src="/imagenes/img_ppal_login.png" class="img-ppal-login-2" alt="finca-bertona"></div>
    </header>
    <main>
        <section class="contenedorSeccion1">
            <h1 class="titulo-registro">CREA TU CUENTA</h1>
        <!----   % < if (locals.errors) {
                errors.forEach(error => { %>
                <p>< %= error.msg %></p>
                < % }) 
            }%> --->
            <form class= "formulario-registro" action="/guardarUsuario" method="POST" enctype="multipart/form-data">
                <fieldset class= "campo-formulario">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name= "nombre" id="nombre" pattern="{4,30}" class="control"  required placeholder="Escriba su nombre">
                </fieldset>
                <fieldset class= "campo-formulario">
                    <label for="apellido">Apellido:</label>
                    <input type="text" name= "apellido" id="apellido"  class="control" required placeholder="Escriba su apellido">
                </fieldset>
                <fieldset class= "campo-formulario">
                    <label for="email">E-mail:</label>
                    <input 
                    type="email" 
                    name= "email"  
                    class="control <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
                    value="<%= locals.oldData ? oldData.email : null %>"
                    required placeholder="Escriba su direccion de mail">
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </fieldset>
                <fieldset class= "campo-formulario">
                    <label for="fecha-de-nacimiento">Fecha de nacimiento:</label>
                    <input type="date" name="fechaDeNacimiento" value="2021-07-22" id= "fecha-de.nacimiento"class="control" required placeholder="Escriba su fecha de nacimiento">
                </fieldset>
                <fieldset class= "campo-formulario">
                    <label for="domicilio">Domicilio:</label>
                    <input type="text" name= "domicilio" id="domicilio" class="control" required placeholder="Escriba su domicilio">
                </fieldset>
                <fieldset class="campo-formulario">
                    <label for="clave">Contraseña:</label>
                    <input type="password" name="clave" id="clave" class="control" required placeholder="Escriba su contraseña">
                </fieldset>
        
                <fieldset class="campo-formulario campo-formulario-mensaje">
                    <label for="confirmacion-clave">Confirme su contraseña:</label>
                    <input type="password" name="confirmación-clave" id="confirmación-clave" class="control" required placeholder="Confirme su contraseña">
                </fieldset>
                <fieldset class="campo-formulario">
                    <label for="uploads">Subir imagen de perfil:</label>
                    <input type="file" name="image" id="image" class="control" placeholder="Suba la imágen del producto">
                </fieldset>
                <button type="submit" class= "boton-formulario-enviar">ENVIAR</button>  
    </main>
    <%- include('../include/footer')%>
</body>
</html>
